<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travellogapp">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CountriesActivity"
            android:label="Countries"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.travellogapp.MainActivity" />
        </activity>
        <activity
            android:name=".CountryDetails"
            android:label="CountryDetails"
            android:parentActivityName=".CountriesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.travellogapp.CountriesActivity" />
        </activity>
        <activity
            android:name=".PastTravelsActivity"
            android:label="Past Travels"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.travellogapp.MainActivity" />
        </activity>
        <activity
            android:name=".TakePhoto"
            android:label="Take Photo"
            android:parentActivityName=".CountryDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.travellogapp.CountryDetails" />
        </activity>
        <activity
            android:name=".ViewPhotos"
            android:label="View Photos"
            android:parentActivityName=".CountryDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.travellogapp.CountryDetails" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>